nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.2rem 1.7rem;
    border-radius: 3rem;
    display: flex;
    gap: 0.8rem;
    backdrop-filter: blur(15px);
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 2;
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-primary-variant);
}